.App {
  text-align: center;
}

.content{
  margin-top: 100px;
}

.VerificationText{
  margin-top: 49.09px;
  margin-bottom: 46.46px;
  font-size: 50.51px;
}

input[type="text"]{
  width: 84px;
  height: 100px;
  margin-right: 20px;
  border: 0;
  background: #EFEFEF;
  border-radius: 10px;
  font-size: 70px;
  text-align: center;
}

.description{
  margin-top: 67.11px;
  color: #7C7C7C;
}

.CountDownTimer{
  margin-top: 48.7px;
  font-size: 20px;
  color: #2C6693;
  font-weight: bold;
}

.VerificationButton{
  background: #2C6693;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 48.68px;
}

.RequestVerificationCode{
  display: block;
  text-decoration: none;
  color: #2C6693;
  margin-top: 44.8px;

}
